.info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/mobile.svg) no-repeat center fixed;
} 
.info div{
  margin: 3rem 0;
}
.info-title h2 {
  font-size: 3.4rem;
  text-align: center;
  font-weight: 400;
}

.info-title,
.info-subtitle {
  padding:0 2rem;
  font-family: var(--title);
  color: var(--secondary);
  width: 100%;
  max-width: 450px;
}

.info-subtitle h3 {
  font-size: 1.4rem;
  font-weight: 400;
}


@media (min-width: 500px) {
  .info{
    background: url(../img/desktop.svg) no-repeat center fixed;
  }
  
}