.info {
  width: inherit;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
.info-title h2 {
  font-size: 3.4rem;
  text-align: center;
  font-weight: 400;
}

.info-title,
.info-subtitle {
  padding: 2rem;
  font-family: var(--title);
  color: var(--secondary);
}

.info-subtitle h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

.info-form {
  margin-top: 1rem;
  display: flex;
  padding: .8rem;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.21);
}
.info-form_input {
  width: 100%;
  max-width: 600px;
  flex-grow: 2;
  border: none;
  padding: 0 2rem;
  color: var(--primary);
  font-weight: 700;
  font-size: 1.6rem;
}
::placeholder{
  color: var(--primary);
  font-size: 1.6rem
}
.info-form_input:focus {
  outline: none;
}

.info-form_search {
  height: 30px;
  width: 160px;
  background: var(--primary);
  border: none;
  border-radius: 25px;
  color: var(--white);
  font-weight:700;
  font-size: 1.6rem;
}

.img {
  z-index: -1;
  grid-row: 2;
  width: inherit;
}
.img img {
  z-index: -1;
  width: 100%;
  min-width: 320px;
}
