.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  font-family: var(--header);
}

.header-title {
  font-size: 2rem;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title_secondary {
  color: var(--secondary);
}

.header-contact {
  background: var(--primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 8px rgba(251, 182, 103, 0.58);
}

.header-contact_me {
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}